@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "@fontsource/kumbh-sans"; 
@import "@fontsource/kumbh-sans/400.css"; 
@import "@fontsource/kumbh-sans/600.css"; 
@import "@fontsource/kumbh-sans/700.css"; 
@import "@fontsource/kumbh-sans/900.css"; 


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
      @apply font-sans;
    }

    html {
      scroll-behavior: smooth;
    }
  }

  @layer utilities {
    .text-gradient-blue {
      background: linear-gradient(to right, #050C9C, #3b82f6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    :root {
      --e-global-color-e7ed4db: #060f56; /* Replace with your desired color */
    }
    /* CSS for the 3D effect container */
/* CSS for the 3D effect container with top and left shadow */
.three-d-container {
  position: relative;
  background: white;
  border-style: solid;
  border-width: 0px 4px 4px 0px;
  border-color: var(--e-global-color-e7ed4db); /* Use your desired color */
  border-radius: 20px;
  padding: 20px;
  box-shadow: -4px -4px 6px rgba(0, 0, 0, 0.1), 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.text-gradient-blue {
  background: linear-gradient(to right, #050C9C, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sound-wave {
  width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  margin: 10px 0;
}
/* src/Components/FeedbackSection.css */
.feedback-section {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #1e1e1e;
  border-radius: 10px;
  color: white;
}

.feedback-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.feedback-header span {
  font-size: 18px;
  font-weight: bold;
}

.circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#00bfff var(--percentage), #e0e0e0 var(--percentage));
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.circle span {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

p {
  margin: 5px 0 0 10px;
  font-size: 14px;
  color: #d0d0d0;
}



 
  }
  

  